.headlines {
	background: #fff;
	padding-top: 2em;
	padding-bottom: 4em;

	.section-title {
		padding-bottom: .5em;
		background: url(../img/rule1.png) no-repeat 50% 100%;
		text-align: center;
	}

	article h2 {
		text-align: center;
		font-size: .875em;
		color: #666;
		-moz-transition:color 1s;
				-webkit-transition:color 1s;
				transition:color 1s;
		}

	article h1 {
		font-size: 3em;
		text-align: center;
		line-height: 1em;
		margin-bottom: 0;
		-moz-transition:color .2s;
				-webkit-transition:color .2s;
				transition:color .2s;
	}

	article h3 {text-align: center; text-transform: none;}

	#events {
		color: $dk;
		.section-title {color: $seasonal-color-one;}
		a:hover h1, a:hover h2 {color: $seasonal-color-one;}
	}

	#blog {
		.section-title {color: $seasonal-color-two;}
		a:hover h1, a:hover h2 {color: $seasonal-color-two;}
	}

	p {
		font-size: 1em;
		color: #333;
		margin: 1em 0;
	}
}

.home-headlines {
	border-top: 3px double #ddd;

	#events {
		padding-bottom: 2em;
		margin-bottom: 2em;
		// border-bottom: 1px dotted lighten($background-two, 80%);
		/* This border separates events from blog listings, which were temporarily removed */
	}
}

.headlines.event {

	h1 {color: $seasonal-color-one;}
}

.headlines.blog-post {
	h1 {color: $seasonal-color-two;}
}

#post-info {
	background: #f1f1f1;
	margin-top: 1em;
	padding-top: 1em;

	h6 {margin-bottom: 0;}
	p {margin: 0 0 1em;}
}