#hero.location-page{
	img{
		margin-bottom: 1rem;
	}
}


#location-details{

	margin-top: 1em;

	p{
		font-size: .8rem;
		line-height: 1rem;
		min-height: 40px;
		margin-top: 2rem;
	}
	p#address{
		padding-left: 45px;
		background: url(address.png) left top no-repeat;
		background-size: 35px 35px;
	}

	p#hours{
		padding-left: 45px;
		background: url(hours.png) left top no-repeat;
		background-size: 35px 35px;
	}


	p#contact{
		padding-left: 45px;
		background: url(contact.png) left top no-repeat;
		background-size: 35px 35px;
	}



}

#location-info{
	margin: 2rem auto 2rem;
	h3.subtitle {text-transform: none;}
	h5{
		@include sidebar-title;
	}
	aside{
		float: left;
		width: 75%;
	}
	img{
		margin-bottom: 1rem;
	}
	.sidebar{
		img{
			float: left;
			margin-right: 5%;
		}
	}
}

#other-locations{
	background: $lt;
	text-align: center;
	padding: 2rem;
}