#hero.location-page{
	img{
		margin-bottom: 1rem;
	}
}


#location-details{

	margin-top: 1em;

	p{
		font-size: .8rem;
		line-height: 1rem;
		min-height: 40px;
		margin-top: 2rem;
	}
	p#address{
		padding-left: 45px;
		background: url(address.png) left top no-repeat;
		background-size: 31px 31px;
	}

	p#hours{
		padding-left: 45px;
		background: url(hours.png) left top no-repeat;
		background-size: 30px 31px;
	}


	p#contact{
		padding-left: 45px;
		background: url(contact.png) left top no-repeat;
		background-size: 31px 34px;
	}



}

#location-info{
	margin: 2rem auto 2rem;
	h3.subtitle {text-transform: none;}
	h5{
		@include sidebar-title;
	}
	aside{
		float: left;
		width: 75%;
	}
	img{
		margin-bottom: 1rem;
	}
	.sidebar{
		img{
			float: left;
			margin-right: 5%;
		}
	}
}

#other-locations {

	background: $lt;
	text-align: center;
	padding: 2rem;

	li {

		display: table !important;
		padding: 0px 10px;
		margin-bottom: 10px;

		a {
			margin: 0px;
			display: table-cell !important;
			vertical-align: middle;
			width: 164px;
			height: 96px;
			background-color: rgb(2,13,48);
			line-height: 1rem;
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-family: didot, serif;
			font-size: 1em;
			letter-spacing: 1px;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: .2;
				-moz-transition:opacity 1s;
				-webkit-transition:opacity 1s;
				transition:opacity 1s;
			}

			span {
				width: 164px;
				color: #FFF;
				opacity: 1;
				-moz-transition:opacity 1s;
				-webkit-transition:opacity 1s;
				transition:opacity 1s;
				margin:0 auto;
			}

			&:hover {
				span {
					opacity: 0;
				}
				img {
					opacity: 1;
				}
			}
		}
	}
}






