// Global Foundation Settings
@import "settings";


$background-one:#fff;
$background-two:#000;
$lt:#eee;
$md:#999;
$dk:#555;
$seasonal-color-one:#87C229; //green
$seasonal-color-two:#7EC7B7; //aqua


$primary-color: #87C229;

$italic-font: "Didot eText W01 Italic", Didot, serif;

@mixin sidebar-title{
		border-bottom: 1px solid $lt;
		display: block;
		font-weight: bold;
		margin-bottom: .5rem;
		color: $md;
		text-transform: uppercase;
}

@mixin small-text{
	font-size: .9rem;
	line-height: 1.1rem;
}


@import "base";
@import "locations";
@import "departments";
@import "chino";
@import "headlines";
@import "home";
@import "blog_events";

@media only screen and (min-width: 768px) {

	#locations{
		ul{
			margin-top: 0;
			}
	}

}

